<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/css/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <!-- <img src="/images/camera.svg"> -->
    <a href="/listings/new" <%- title === 'Add Swap' ? 'class="active"' : '' %>>Add Swap</a>
    <a href="/listings/showAll" <%- title === 'View All Swaps' ? 'class="active"' : '' %>>All Swaps</a>
    <img src="/images/camera.svg">
    <!-- new menu link below -->

  </nav>
  <main>
    <h1><%= title %></h1>
<!----HOME PAGE-->