<!DOCTYPE html>
<<<<<<< HEAD:views/listings/mainPage.ejs
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
    <h1>Main Page </h1>
</body>
</html>
=======
<html>
  <head>
<%- include('../partials/head') %>

<div class="navbar-fixed">
   <nav class="pink lighten-1 z-depth-5">
     <div class="container">
     <div class="nav-wrapper">
       <a href="/" class="brand-logo">TravelSwap</a>
       <a href="/" data-target="mobile-nav"class="sidenav-trigger"><i class="material-icons">menu</i>
       </a>
       <ul class="right hide-on-med-and-down">
         <li><a href="/listings">View Swaps</a> </li>
         <li><a href="/listings/newlisting">Add Swap</a></li>
         <li><a href="reviewsF/new.ejs">Reviews</a></li>
         <li><a href="#">Help</a></li>
       </ul>
     </div>
   </nav>
 </div>
</div>
</head>
<body>
     <h1>All Listings</h1>
     </body>
     </html>
>>>>>>> main:views/listings/showAll.ejs
